h1{
    text-align: center;
    font-family: 'Lobster', cursive;s
}

.art{
    margin: auto;
}

td{
    background-color: black;
    height: 300px;
    width: 150px;
    border: 5px solid white;
}

#one{
    background-color: #420039;
}

#two{
    background-color: #932F6D;
}

#three{
    background-color: #E07BE0;
}

#four{
    background-color: #DCCCFF;
}

#five{
    background-color: #F6F2FF;
}