body{
     background-color: gray;
}
*/
div{
    background-color: azure;
    border-color: #86a083;
    border-width: 3px; 
    border-style: double;
}

p{
    color: deeppink;
    background: url(https://i.ytimg.com/vi/PnvAVVhhh4Y/maxresdefault.jpg);
    background-repeat: round;   
    
}

/* RGBA =  Alpha refers to the color transparency and it's values must be between 0 and 1 */    
span{
    background: red;
    backface-visibility: visible;
    color: rgba(9, 89, 20, 0.9);
}