/* A comment it's something like this */
/*
selected tag{
    property: value;
}
*/
h1{
    color: rgb(203, 66, 244);
}
/* if I want to affect all my item lists */
li{
    color: darkgray;
}
p{
    color:#e24c26;
}
/* Alpha refers to the color transparency and it's values must be between 0 and 1 */
h4{
    color: rgba(195, 237, 30, 0.6)
}